*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #f1f5f8;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    width: 100%;
}

.container{
    width: 15vw;
    background-color: #fff;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* justify-items: center; */
    padding: 15px;
    margin-top: 80px;
}

button{
    margin-top: 5px;
    padding: 10px;
    border: none;
    outline: none;
    font-weight: 600;

}

button#on{
    background-color: green;
    color: #fff;
}

button#off{
    background-color: red;
    color: #fff;
}